name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    container: archlinux:latest
    steps:
    - name: Install dependencies and Go
      run: |
        pacman -Syu --noconfirm
        pacman -S --noconfirm git go pkgconf alsa-lib libxcursor libxi libxinerama libxrandr mesa glibc base-devel

    - uses: actions/checkout@v4

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
